@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

body, html, #root {
  height: 100%;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
canvas {
  display: block;
}
